<!DOCTYPE html>
<html>
<head>
    <title>Dashboard SignUp</title>
</head>
<body>
    <h1>dev</h1>
        <button type="button" id="dltBtn">Delete DB</button>

        <button type="button" id="confirm"></button>

        <p id="deleteError" style="color:red;"></p>

        <script type="module" src="/static/js/main.js"></script>
</body>


<link rel="icon" type="image/png" href="/static/favicon/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/static/favicon/favicon.svg" />
<link rel="shortcut icon" href="/static/favicon/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="Dashboard" />
<link rel="manifest" href="/static/favicon/site.webmanifest" />

</html>
